body {
    background-color: white;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
}

.titlediv {
    background-color: black;
    width: 100%;
    height: 90px;
    padding: 0px;
    margin: 0;
}

.title {
    color: white;
    margin: 0px;
    text-align: center;
    padding: 23px;
}

.navlist {
    list-style-type: none;
    color: white;
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    opacity: 0.1px;
}

.active {
    color: green; /* This is the colour shown when the user is on the page. For example,
                        being on the page 'Home' would make the home text in the left side green */
}

a:link {
    text-decoration: none;
    color: rgb(126, 126, 126); /* Colour of the links on the left hand side */
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: rgb(134, 247, 105);
}
a:active {
    text-decoration: none;
    color: rgb(126, 126, 126);
}

.nav {
    background-color: rgb(66, 66, 66);
    width: 20%;
    height: 90vh;
    padding: 0px;
    margin: 0px;
    align-self: left;
    position: fixed;
    overflow: auto;
}

.maindiv {
    margin-left: 25%;
}